* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  padding: 20px;
  height: 300px; /* Should be removed. Only for demonstration */
  width: 49%
}
.left {
  float: left;
  text-align: right;
  }
.right {
  float: right;
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 20px;
}
.wrapper {
    display: grid;
    grid-template-columns: 4%  45% 2% 45% 4%;
    grid-template-rows: auto 4% auto 4% auto;
}
.itemrow {
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: #90a7ad;
}
.item1 {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #90a7ad;
}
.itemleft {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 6;
  background-color: #0d635c;
}
.itemmid {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: #0d635c;
}
.itemrowspace {
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: #0d635c;
}
.itemright {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
  background-color: #0d635c;
}
.item2 {
  grid-column-start: 4;
  grid-column-end: 5;
  background-color: #0d635c;
}
