body {
  background-color: white;
}
h1 {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 35px;
  background-color: #65758f;
  color: white;
  text-align: center;
}
h3, h2, p, ul {
  margin-left: 4%;
  margin-right: 4%;
  color: black;
}
h2 {
  font-size: 28px
}
h3 {
  font-size: 20px
}
p {
  font-size: 14px
}

.footer {
  margin-left: 15%;
  margin-right: 15%;  
}
* {
  box-sizing: border-box;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
