body {
  background-color: white;
}
h1 {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 35px;
  background-color: #65758f;
  color: white;
  text-align: center;
}
h3, h2, p {
  margin-left: 20%;
  margin-right: 20%;
  color: black;
}
h2 {
  font-size: 28px
}
h3 {
  font-size: 20px
}
p {
  font-size: 14px
}

.footer {
  margin-left: 15%;
  margin-right: 15%;  
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  padding: 20px;
  height: 300px; /* Should be removed. Only for demonstration */
  width: 49%
}
.left {
  float: left;
  text-align: right;
  }
.right {
  float: right;
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
